<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for your reservation, <%= @reservation.email %>!</h1>
    <p>We look forward to spending the night with you!</p>
  </body>
</html>